.mobile-part1-wrap {
  width: 100vw;
  height: 100vh;
  background-image: url(https://game.gtimg.cn/images/game/m/m202112/img/bg1.2fe01e2.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
